<div class="flex">
    <button aria-label="Menü" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button aria-label="Dasboard Seite" mat-menu-item [routerLink]="['/dashboard']">
        <span>Dashboard</span>
      </button>
      <button aria-label="About Seite" mat-menu-item [routerLink]="['/about']">
        <span>About</span>
      </button>
    </mat-menu>

    <h1>{{ title }}</h1>

    <img aria-label="Logo" src={{imagePath}} alt="Logo">
  </div>
  