<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 500px">
    <div class="col-12 col-md-6">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="mat-elevation-z2">
        
        <div class="row text-center mb-2">
           <div class="col-12 col-md-12">
            <h2 class="text-center">Zum Kurs anmelden!</h2>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <mat-form-field appearance="outline" class="w-40 mb-3" style="margin-right: 20px">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name"/>
              <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Name ist erforderlich.</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-40 mb-3">
              <mat-label>Geburtsdatum</mat-label>
              <input matInput type="date" formControlName="birthdate" />
              <mat-error *ngIf="registrationForm.get('birthdate')?.hasError('required')">Geburtsdatum ist erforderlich.</mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 d-flex mb-3">
            <mat-form-field appearance="outline" class="w-40" style="margin-right: 20px">
              <mat-label>E-Mail</mat-label>
              <input matInput type="email" formControlName="email" minlength="8"/>
              <mat-error *ngIf="registrationForm.get('email')?.hasError('minlength')">E-Mail muss mindestens 8 Zeichen lang sein.</mat-error>
              <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">E-Mail ist erforderlich.</mat-error>
            </mat-form-field>
            
            <mat-checkbox formControlName="consent">Zum Newsletter anmelden</mat-checkbox>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <mat-form-field appearance="outline" class="w-40">
              <mat-label>Kursauswahl</mat-label>
              <mat-select formControlName="courseId">
                <mat-option *ngFor="let course of storeService.courses" [value]="course.id">{{course.name}}, {{course.instructor}}</mat-option>
              </mat-select>
              <mat-error *ngIf="registrationForm.get('courseId')?.hasError('required')">Kursauswahl ist erforderlich.</mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row text-center">
          <div class="col-12 col-md-12 mb-4">
            <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Erfassen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0">
  <div id="liveToast" class="toast align-items-center text-bg-success border-0" role="alert" [class.show]="showToast">
    <div class="d-flex">
      <div class="toast-body">
        Du hast dich erfolgreich für den Kurs angemeldet!
      </div>
      <button class="btn-close btn-close-white me-2 m-auto" (click)="closeToast()">Schließen</button>
    </div>
  </div>
</div>

